.topheader {
  width: 100%;
  background-color: #ffdd0f;
  overflow: hidden;
  margin-bottom: 20px;
}

.title {
  float: left;
  line-height: 30px;
  padding: 10px;
  margin-left: 10px;
}

.loginb {
  float: right;
  line-height: 60px;
  padding: 10px;
  margin-right: 30px;
}

.logoutb {
  float: right;
  line-height: 60px;
  padding: 10px;
  margin-right: 30px;
}

#nombreUsuario {
  float: right;
  line-height: 80px;
}

.linkamodal {
  font-weight: 600;
}
.texto {
  margin-left: 250px;
  margin-top: 100px;
  color: black;
}

.h2 {
  font-size: 300px;
  color: #ffdd0f;
}

.beneficio {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

#botonSwal {
  margin-left: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#logged {
  margin-bottom: 100px;
}

.container-fluid {
  min-height: 300px;
}

#buscador {
  display: flex;
}

.seleccion {
  margin-bottom: 150px;
}
